<div class="row" ng-repeat="project in vm.projects | filter: (vm.shouldShowOnlyTopProjects() || isTopProject)">
    <div class="col-sm-3">
        <div class="text-center">
            <strong>
                {{ project.months }}

                <span ng-if="project.months == 1">Monat</span>
                <span ng-if="project.months > 1">Monate</span>
            </strong>
        </div>
        <div class="text-center" ng-repeat="timePeriod in project.timePeriods | orderBy: '-start'">
            <span>
                {{ timePeriod.start | date: "MM/yyyy" }}
            </span>
            bis
            <span ng-show="timePeriod.end != null">
                {{ timePeriod.end | date: "MM/yyyy" }}
            </span>
            <span ng-show="timePeriod.end == null">
                heute
            </span>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="project-item dashed-border">
            <div class="project-item__title">
                <i class="fa fa-desktop" ng-show="project.typeOfSoftware == 'Web'"></i>
                <i class="fa fa-windows" ng-show="project.typeOfSoftware == 'Desktop'"></i>
                &nbsp;
                {{ project.title }}

                <a href="{{ project.link }}" target="_blank" ng-show="project.link != null">
                    <i class="fa fa-external-link"></i>
                </a>
            </div>

            <small class="text-muted">
                Kunde: {{ project.customer }}
            </small>

            <div class="project-item__more-icon clickable"
                ng-click="project.showFullDescription = !project.showFullDescription">
                <i class="fa fa-caret-down" ng-show="!project.showFullDescription"></i>
                <i class="fa fa-caret-up" ng-show="project.showFullDescription"></i>
            </div>

            <div class="project-item__description {{ !project.showFullDescription ? 'project-item__description-hidden' : '' }}">
                {{ project.description }}

                <div class="row">
                    <div class="col-sm-4">
                        <h4 ng-if="project.languages.length == 1">Sprache</h4>
                        <h4 ng-if="project.languages.length > 1">Sprachen</h4>

                        <div class="skill-item skill-item-small dashed-border"
                            ng-repeat="language in project.languages">
                            {{ language }}
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h4>Rollen</h4>
                        <div class="skill-item skill-item-small dashed-border" ng-repeat="role in project.roles">
                            {{ role }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <h4>Technische Sprachen</h4>
                        <div class="skill-item skill-item-small dashed-border"
                            ng-repeat="language in project.technicalLanguages">
                            {{ language }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <h4>Frameworks</h4>
                        <div class="skill-item skill-item-small dashed-border"
                            ng-repeat="framework in project.frameworks">
                            {{ framework }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <h4>Software</h4>
                        <div class="skill-item skill-item-small dashed-border" ng-repeat="software in project.software">
                            {{ software }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>