<div class="row">
    <div class="col-xs-12">
        <div class="skill-item dashed-border"
             ng-repeat="skill in vm.skills | orderBy: '-months'"
             ng-show="vm.shouldShowAllSkills() || skill.isTopSkill">
            {{ skill.name }}

            <i class="fa fa-star" ng-show="skill.isTopSkill && vm.shouldShowAllSkills()"></i>
        </div>
        
        <a class="skill-item skill-item-link dashed-border noprint"
                ng-click="vm.shouldShowAllSkills(!vm.shouldShowAllSkills())">
            <span ng-show="vm.shouldShowAllSkills()">
                Zeige nur Top Skills
            </span>
            <span ng-show="!vm.shouldShowAllSkills()">
                Zeige alle Skills
            </span>
        </a>
    </div>
</div>