/* Empty. Add your own CSS if you like */

h3 {
  font-size: 100% !important;
}

.button-add-new-event {
  position: absolute !important;
  border: 0px;
  padding: 0px !important;
  line-height: 0px;
  z-index: 99;
  bottom: 20px;
  border-radius: 100px !important;
  right: 20px;
  font-size: 60px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

#AddNewEvent:hover, #AddNewEvent:active {
	color: #C0392B;
}

.event-item {
  position:	relative;
  height: 185px;
  border-radius: 5px !important;
}

.event-item:first-child {
	margin-top: 0px;
}

.event-item:last-child {
	margin-bottom: 0px !important;
}

ion-content {
  background-color: #ECF0F1;
}

.event-item .item-body {
  position:	absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  height: 100px;
  color: #7F8C8D;
  padding: 9px;
  border: 0px;
  background-color: transparent;
}

.event-item h3 {
  margin: 0px !important;
  text-transform: uppercase;
}

.event-item__image {
  position: absolute;
  height: 100px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.event-item.event-item-done {
	background-color: #1D5353;
}

.event-item.event-item-done h3, .event-item.event-item-done .item-body {
	color: #fff !important;
}