body {
	color: #262626;
	font-size: 13px;
	line-height: 23px;
	background-color: #EBE5E5;
	font-family: 'Encode Sans Expanded', sans-serif;
}

img.img-grey {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

a.title-link {
	border-bottom: 1px dotted #777;
}

a.title-link:hover {
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.clickable {
	cursor: pointer;
}

.fixed-width-md {
	width: 800px;
	margin: 10px auto;
}

.fixed-width-lg {
	width: 992px;
	margin: 10px auto;
}

@media (max-width: 800px) {
	.fixed-width-md {
		width: 100%;
		overflow: hidden;
	}
}

@media (max-width: 992px) {
	.fixed-width-lg {
		width: 100%;
		overflow: hidden;
	}
}

.separator {
	height: 20px;
}

.modal {
	color: #2B2B2B;
}

@media (max-width: 768px) {
	.main {
		padding: 0px 10px;
	}
}

.text-info {
	color: #FFCD02;
}

/*.page-header*/
	.page-header {
		background: #fff;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.page-header .page-header-inner {
		position: relative;
		height: 155px;
		margin: 0px auto;
	}

	.page-header .page-header__image {
		position: absolute;
		top: 10px;
		left: 10px;
		width:  125px;
		height: 125px;
	}

	.page-header .page-header__title {
		position: absolute;
		top: 18px;
		left: 155px;
		right: 0px;
		font-size: 400%;
		color: #2C3E50;
	}

	.page-header .page-header__world-map {
		position: absolute;
		top: 10px;
		bottom: 18px;
		right: 0px;
	}

	.page-header .page-header__world-map img {
		height: 100%;
	}

	.page-header .page-header__description {
		position: absolute;
		top: 70px;
		left: 168px;
		right: 0px;
		font-size: 142%
	}

	.page-header .page-header__description a {
		color: #34495E;
		text-decoration: none;
	}

	.page-header .page-header__contacts {
		position: absolute;
		bottom: 9px;
		left: 168px;
	}
	
	
@media (max-width: 768px) {
	.page-header {
		position: relative;
		height: 125px;
	}
		
		.page-header .page-header-inner {
			width: auto;
		}
	
		.page-header .page-header__image {
			width:  50px;
			height: 50px;
		}
		
		.page-header .page-header__title {
			left: 70px;
			top: 10px;
			font-size: 200%;
		}

		.page-header .page-header__description {
			top: 40px;
			left: 70px;
			right: 0px;
			font-size: 100%;
		}

		.page-header .page-header__contacts {
			position: absolute;
			top: 70px;
			left: 10px;
		}
}

/*.dashed-border*/
.dashed-border {
	border: 1px dashed #262626;
	padding: 15px 20px;
	display: inline-block;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.dashed-border {
		padding: 0px 10px;
	}
}

/*.basic-info-item*/
.basic-info-item {
	display: block;
	font-size: 150%;
	line-height: 35px;
	background: #34495E;
	color: #EBE5E5;
	padding: 15px 20px;
	margin-bottom: 10px;
}

	.basic-info-item .basic-info-item__icon {
		font-size: 200%;
	}
	
	.basic-info-item .basic-info-item__label {
		position: relative;
		top: -4px;
		left: 5px;
	}
	
	.basic-info-item .basic-info-item__image {
		height: 43px;
	}

/*.contact-item */
.contact-item {
	font-size: 100%;
	display: inline-block;
	padding: 0px;
	width: 45px;
	text-align: center;
	color: #34495E;
	border-color: #34495E;
	margin-right: 10px;
}

/*.skill-item*/
.skill-item {
	margin-right: 5px;
	font-size: 100%;
	padding: 10px;
}

	.skill-item.skill-item-small {
		padding: 0px 5px;
	}

	.skill-item.skill-item-link {
		background: transparent;
		color: #2B2B2B;
		opacity: 0.5;
		cursor: pointer;
	}
	
		.skill-item.skill-item-link:hover{
			opacity: 1;
		}

/*.journey-item*/
.journey-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
	.journey-item:not(:last-child) {
		border-bottom: 1px solid #00000017;
	}

	.journey-item .carousel-indicators {
		display: none;
	}

	.journey-item .journey-item__image {
		max-height: 320px;
		overflow: hidden;
	}

		.journey-item .journey-item__image .journey-item__carousel__background-image {
			height: 320px;
			width: 100%;
			filter: blur(10px);
		}

		.journey-item .journey-item__image .journey-item__image__front-image {
			height: 320px;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 0px;
			left: 0px;
		}

	.journey-item [uib-slide] {
		max-height: 320px;
	}

	.journey-item [uib-carousel]:not(:hover) .carousel-control {
		display: none;
	}

	.journey-item .journey-item__carousel__image-background {
		height: 320px;
		width: 100%;
		filter: blur(10px);
	}

	.journey-item .journey-item__carousel__image {
		height: 320px;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0px;
	}

	.journey-item .carousel-control .glyphicon-chevron-left::before {
		background: rgba(255,255,255,0.3);
		padding: 30px 15px;
		position: absolute;
		left: 0px;
		margin-top: -25px;
	}

	.journey-item .carousel-control .glyphicon-chevron-right::before {
		background: rgba(255,255,255,0.3);
		padding: 30px 15px;
		position: absolute;
		right: 0px;
		margin-top: -25px;
	}

/*.project-item*/
.project-item {
	margin-bottom: 10px;
	width: 100%;
}

	.project-item .project-item__title {
		font-size: 150%;
	}

	.project-item .project-item__description {
		margin-top: 10px;
	}
	
		.project-item .project-item__description .project-item__description__short-text {
			height: 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 380px;
			display: inline-block;
		}

	.project-item .project-item__more-icon {
		position: absolute;
		top: 15px;
		right: 30px;
		font-size: 200%;
	}

/*Glyphicon replacements*/
.glyphicon.glyphicon-chevron-left::before {
	font-family: 'FontAwesome';
	content: '\f053';
}

.glyphicon.glyphicon-chevron-right::before {
	font-family: 'FontAwesome';
	content: '\f054';
}

/*.carousel modifications*/
[uib-carousel] .carousel-control {
	background: none;
}