@media print {
	.page-header {
		height: 180px;
	}

	.page-header__image {
		width: 125px !important;
		height: 125px !important;
	}

	.page-header__title {
		top: 15px !important;
		left: 170px !important;
		font-size: 3em !important;
	}

	.page-header__description {
		top: 55px !important;
		left: 170px !important;
		font-size: 1.2em !important;
	}

	.page-header__contacts {
		top: 95px !important;
		left: 170px !important;
	}
	
	#ProjectsTitle {
		page-break-before: always;
	}

	.project-item__description-hidden {
		display: block;
	}

	.skill-item {
		display: inline;
		border: 0px;
		padding: 0px;
	}

	div.skill-item:not(:last-of-type)::after {
		content: ', ';
	}

	.skill-item-link {
		display: none;
	}
}
