<link type="text/less" rel="stylesheet" href="css/events.css">

<div data-ng-controller="EventsController">
	<header>
		<title>
			Events
		</title>
		
		<div class="icons">
			<a href="#new">
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</header>

	<ul id="Events">
		<li data-ng-repeat="event in events track by $index">
			<a href="#votes">
				<img data-ng-src="{{ event.img }}" />
				<div class="text_container">
					<div class="title">{{ event.title }}</div>
					<div class="description">{{ event.description }}</div>
					<aside>{{ event.time | date: 'H:mm' }}</aside>
				</div>
			</a>
			<div class="separator_overview_list">&nbsp;</div>
		</li>
	</ul>
</div>