<div data-ng-controller="OverviewController">
	<header>
		<title>
			Events
		</title>
		
		<div>
			<a>
				<i class="fa fa-plus" data-ng-click="showScreen(SCREENS.EVENT_NEW)"></i>
			</a>
		</div>
	</header>
	
	<link type="text/less" rel="stylesheet" href="css/index.css">

	<ul id="Events">
		<li data-ng-repeat="event in events track by $index">
			<a data-ng-click="showScreen(SUPER.SCREENS.VOTE)">
				<img data-ng-src="{{ event.img }}" />
				<div class="text_container">
					<div class="title">{{ event.title }}</div>
					<div class="description">{{ event.description }}</div>
					<aside>{{ event.time | date: 'H:mm' }}</aside>
				</div>
			</a>
			<div class="separator_overview_list">&nbsp;</div>
		</li>
	</ul>
</div>