<div data-ng-controller="VoteController">
	<link type="text/less" rel="stylesheet" href="css/vote.css">
	
	<header>
		<a ng-click="SUPER.back()" class="hasImage hasSubtitle" id="BackButton">
			<div>
				<i class="fa fa-arrow-left back_symbol"></i>
				<img ng-src="{{ event.img }}" />
				<div class="title">{{ event.title }}</div>
				<aside>{{ event.duration }}</aside>
			</div>
		</a>
		
		<div class="icons">
			<a href="#votes/{{ event.id }}/overview">
				<i class="fa fa-table"></i>
			</a>
		</div>
	</header>
	
	<content>
		<ul id="Dates">
			<li data-vote="time.vote" ng-repeat="time in times">
				<div class="container">
					<div class="slice">
						<time>
							<div class="day_name">
								{{ time.date | date : "EEEE" }}
							</div>
							{{ time.date | date : "d MMM H:mm" }}
						</time>
						
						<button class="YES">
							<i class="fa fa-smile-o"></i>
						</button>
						<button class="MAYBE">
							<i class="fa fa-meh-o"></i>
						</button>
						<button class="NO">
							<i class="fa fa-frown-o"></i>
						</button>
					</div>
					<div class="slice">
						DETAILS
					</div>
				</div>
			</li>
		</ul>
	</content>
</div>