.event-new ion-view {
  padding-top: 43px;
}

.event-new__content {
  padding: 15px;
}

.new-event-image {
  position: relative;
  height: 150px;
  background: #BDC3C7;
}

.new-event-image > div {
  position: absolute;
  font-size: 125%;
  font-weight:  bold;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -150px;
}

.input-with-btn {
  position: relative;
  width: 100%;
}

.input-with-btn > label {
  display: block;
  height: 52px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #BDC3C7;
  cursor: text;
}

.input-with-btn > label div:first-child {
  position: absolute;
  top: 3px;
  left: 12px;
  right: 30px;
}

.input-with-btn__btn {
  display: block;
  position: absolute;
  bottom: 0px;
  padding-top: 3px;
  top: 0px;
  right: 0px;
  width: 40px;
  text-align: center;
  font-size: 150%;
  border-radius: 0px;
}

.input-with-btn__input {
  margin-top: 5px;
}

.event-members {
  position: absolute;
  top: 210px;
  left: 15px;
  right: 15px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.input-with-btn-search__results {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background: #fff;
  border: 1px solid #BDC3C7;
  z-index: 10;
}

.input-with-btn-search__results .item:active, .input-with-btn-search__results .item:hover {
  background-color: rgba(0,0,0,0.1);
}

table.contact-sources {
  width: 100%;
}

.contact-sources td {
  width: 16.666%;
  text-align: center;
}

.contact-sources button {
  font-size: 50px;
  opacity: 1;
}

.contact-sources button[disabled=true] {
  opacity: 0.1;
}