/* Empty. Add your own CSS if you like */

html, body {
  font-family: 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
}

/*Reset Ionics font sizes*/
.item, div {
  font-size: 100%;
}

h1 {
  font-size: 150% !important;
}

.bar button {
  font-size: 100% !important;
}