#EventImage {
	width:		100%;
}

#ScrollContainer {
	Xbackground:			rgba(255,0,0,0.5);
	position:			absolute;
	left:				0px;
	right:				0px;
	bottom:				0px;
	top:				0px;
	overflow:			scroll;
}

#ScrollContainer .scrollable {
	position:		relative;
	Xbackground:		rgba(0,255,0,0.5);
	Xheight:			100%;
	margin-top:		100%;
	top:			-35px;
}

#EventTitle {
	font-size:			200%;
	color:				#ECF0F1;
	text-decoration:	0px 0px 3px #BDC3C7;
	padding-left:		15px;
	padding-bottom:		15px;
}

#DetailContents {
	background:	#ECF0F1;
	padding:	10px 15px 0px;
}