#TimeContainer {
	z-index:		99;
	position:		absolute;
	top:			0px;
	bottom:			0px;
	width:			100px;
	height:			100%;
}

#Days {
	position:		absolute;
	display:		block;
	width:			100px;
	top:			105px;
	bottom:			0px;
	//border-right:	1px solid #000;
	overflow:		hidden;
}

#Days > ul {
	position:		relative;
	height:			100%;
	display:		block;
	overflow-x:		hidden;
	overflow-y:		scroll;
	width:			120px;
	padding:		0px;
	margin:			0px;
}

#Days > ul > li {
	position:			relative;
	list-style-type:	none;
	border-bottom:		1px solid #000;
}

#Days > ul > li .day {
	position:			absolute;
	left:				5px;
	top:				0px;
	height:				100%;
	width:				30px;
}

/*
#Days > ul > li.isFirstDayInMonth {
	box-shadow:	2px -2px 2px #000;
}
*/

#Days > ul > li .day > div {
	position:	absolute;
	height:		23px;
	width:		100px;
	text-align:	center;
	top:		50%;
	left:		-35px;
	margin-top:	-12px;
	-ms-transform:		rotate(-90deg);
	-webkit-transform:	rotate(-90deg);
	transform:			rotate(-90deg);
}

#Days > ul > li .day.small > div {
	width:		75px;
	left:		-20px;
}

#Days .month-separator > div {
	position:	absolute;
	width:		66%;
	text-align:	center;
	top:		6px;
}

ul.times {
	padding:		0px;
	margin:			0px;
}

ul.times > li {
	list-style-type:	none;
	position:			relative;
	margin-left:		30px;
	border-top:			1px solid #000;
	width:				48px;
}

ul.times > li:first-child {
	border:	0px;
}

li ul.times > li > div {
	position:	absolute;
	right:		5px;
	top:		50%;
	margin-top:	-7px;
}

li ul.times > li > aside {
	position:	absolute;
	right:		5px;
	bottom:		0px;
	font-size:	80%;
}

#SelectionContainer {
	z-index:	300;
	position:	absolute;
	right:		0px;
	top:		0px;
	bottom:		0px;
	left:		78px;
}

#Users {
	z-index:		200;
	position:		absolute;
	top:			40px;
	right:			0px;
	left:			0px;
	height:			64px;
	overflow:		hidden;
	white-space:	nowrap;
}

#Users > div {
	height:			120px;
	overflow-x:		auto;
}

#Users > div > ul {
	padding:		0px;
	margin:			0px;
}

#Users > div > ul > li {
	position:			relative;
	list-style-type:	none;
	display:			inline-block;
	height:				60px;
}

#Users > div > ul > li > div {
	position:			absolute;
	bottom:				0px;
	top:				30px;
	left:				5px;
	right:				0px;
	text-align:			center;
	padding-top:		8px;
}

#Users > div > ul > li:not(:first-child) > div {
	left:	0px;
}

#Users > div > ul > li > div > * {
	display:	block;
	position:	absolute;
	left:		0px;
	width:		100%;
	text-align:	center;
}

#Users > div > ul > li .img, #Users > div > ul > li img {
	z-index:		1000;
	width:			32px;
	height:			32px;
	left:			50%;
	margin-left:	-16px;
	bottom:			20px;
	border-radius:	5px;
	box-shadow:		inset 0px 0px 10px rgba(0,0,0,0.8);
}

#Users > div > ul > li img {
	z-index:	999;
}

#Users > div > ul > li i {
	bottom:		22px;
	font-size:	28px;
}

#Users > div > ul > li title {
	bottom:		2px;
}

#CurrentUser title {
	font-weight:	bold;
}

#Selections {
	z-index:	98;
	position:	absolute;
	top:		105px;
	bottom:		0px;
	left:		0px;
	right:		0px;
	overflow:	scroll;
}

#Selections > div {
	width:	100%;
}

#Selections > div.isWeekend, #Days > ul > li.isWeekend {
	background-color:	#DDD;
}

/*
#Selections > div:nth-child(odd), #Days > ul > li:nth-child(odd) {
	background-color:	#eee;
}
*/

#Selections > div > ul, #Selections > ul > li, ul.times > li {
	height:	56px;
}

#Days .month-separator, #Selections .month-separator {
	position:			relative;
	height:				30px;
	background-color:	#999;
	color:				#fff;
}

#Selections .month-separator {
	border-bottom:	1px solid #000;
}

#Selections > div > ul {
	padding:		0px;
	margin:			0px;
	border-bottom:	1px solid #000;
	white-space:	nowrap;
}

#Selections > div > ul > li {
	position:			relative;
	height:				100%;
	display:			inline-block;
	list-style-type:	none;
}

#Selections > div > ul > li > * {
	position:	absolute;
	bottom:		0px;
	top:		0px;
	left:		5px;
	right:		0px;
	width:		100%;
	text-align:	center;
	font-size:	30px;
}

#Selections > div > ul > li > button {
	background:	none;
	border:		0px;
}

#Selections > div > ul > li > button i {
	margin:	2px;
}

#Selections > div > ul > li:not(:first-child) > * {
	left:	0px;
}

#Selections .single-selection > i {
	top:			50%;
	margin-top:		-15px;
}

#Selections .single-selection > span {
	top:			50%;
	margin-top:		-17px;
}

#Selections > div > ul > li > div {
	font-size:	20px;
	top:		50%;
	margin-top:	-12px;
}

#Selections > div > ul > li.YES i {
	
}

#Selections > div > ul > li.MAYBE > div {
	
}

#Selections > div > ul > li.NO > div {
	
}

#ScrollField {
	z-index:	2000;
	position:	absolute;
	top:		0%;
	left:		0%;
	width:		100%;
	height:		100%;
	overflow:	scroll;
}

#ScrollField .dragger {
	font-size:	60px;
	width:		50px;
	height:		200%;
	top:		0%;
	left:		50%;
}

#HintForMoreUsers {
	z-index:		200;
	position:		absolute;
	text-align:		center;
	left:			0px;
	right:			0px;
	height:			70px;
	//right:			50%;
	//margin-right:	-100px;
	top:			40px;
	font-size:		14px;
	color:			#999;
}

#HintForMoreUsers i {
	position:	absolute;
	bottom:		3px;
}

#HintForMoreUsers i:first-child {
	left:		3px;
}

#HintForMoreUsers i:last-child {
	right:		3px;
}

#HintForMoreUsers:before {
	content: "" !important;
}

#VotePanel {
	z-index:		1000;
	position:		absolute;
	top:			0px;
	width:			100%;
	height:			100%;
	right:			-100000px;
	background:		red;
}