.time_container {
	z-index:		99;
	position:		absolute;
	top:			0px;
	bottom:			0px;
	width:			78px;
	height:			100%;
}

.days {
	position:		absolute;
	display:		block;
	width:			100px;
	top:			115px;
	bottom:			0px;
	//border-right:	1px solid #000;
	overflow:		hidden;
}

.days > ul {
	position:		relative;
	height:			100%;
	display:		block;
	overflow-x:		hidden;
	overflow-y:		scroll;
	width:			120px;
	padding:		0px;
	margin:			0px;
}

.days > ul > li:first-child {
	border-top:		1px solid #000;
}

.days > ul > li {
	position:			relative;
	list-style-type:	none;
	border-bottom:		1px solid #000;
}

.days > ul > li .day {
	position:			absolute;
	left:				5px;
	top:				0px;
	height:				100%;
	width:				30px;
}

/*
.days > ul > li.isFirstDayInMonth {
	box-shadow:	2px -2px 2px #000;
}
*/

.days > ul > li .day > div {
	position:	absolute;
	height:		23px;
	width:		100px;
	text-align:	center;
	top:		50%;
	left:		-35px;
	margin-top:	-12px;
	-ms-transform:		rotate(-90deg);
	-webkit-transform:	rotate(-90deg);
	transform:			rotate(-90deg);
}

.days > ul > li .day.small > div {
	width:		75px;
	left:		-20px;
}

.days .month-separator > div {
	position:	absolute;
	width:		66%;
	text-align:	center;
	top:		6px;
}

ul.times {
	padding:		0px;
	margin:			0px;
}

ul.times > li {
	list-style-type:	none;
	position:			relative;
	margin-left:		30px;
	border-top:			1px solid #000;
	width:				48px;
}

ul.times > li:first-child {
	border:	0px;
}

li ul.times > li > div {
	position:	absolute;
	right:		5px;
	top:		50%;
	margin-top:	-7px;
}

li ul.times > li > aside {
	position:	absolute;
	right:		5px;
	bottom:		0px;
	font-size:	80%;
}

.selection_container {
	z-index:	300;
	position:	absolute;
	right:		0px;
	top:		0px;
	bottom:		0px;
	left:		78px;
}

.users {
	z-index:		200;
	position:		absolute;
	top:			50px;
	right:			0px;
	left:			0px;
	height:			64px;
	overflow:		hidden;
	white-space:	nowrap;
}

.users > div {
	height:			120px;
	overflow-x:		auto;
}

.users > div > ul {
	padding:		0px;
	margin:			0px;
}

.users > div > ul > li {
	position:			relative;
	list-style-type:	none;
	display:			inline-block;
	height:				60px;
}

.users > div > ul > li > div {
	position:			absolute;
	bottom:				0px;
	top:				30px;
	left:				0px;
	right:				0px;
	text-align:			center;
	padding-top:		8px;
}

.users > div > ul > li:not(:first-child) > div {
	left:	0px;
}

.users > div > ul > li > div > * {
	display:	block;
	position:	absolute;
	left:		0px;
	width:		100%;
	text-align:	center;
}

.users > div > ul > li .img, .users > div > ul > li img {
	z-index:		1000;
	width:			32px;
	height:			32px;
	left:			50%;
	margin-left:	-16px;
	bottom:			20px;
	border-radius:	5px;
	box-shadow:		inset 0px 0px 10px rgba(0,0,0,0.8);
}

.users > div > ul > li img {
	z-index:	999;
}

.users > div > ul > li i {
	bottom:		22px;
	font-size:	28px;
}

.users > div > ul > li title {
	bottom:		2px;
}

#CurrentUser title {
	font-weight:	bold;
}

.selections {
	z-index:	98;
	position:	absolute;
	top:		115px;
	bottom:		0px;
	left:		0px;
	right:		0px;
	overflow:	scroll;
}

.selections_row {
	width:	100%;
}

.selections_row .isWeekend, .days .isWeekend {
	background-color:	#DDD;
}

/*
.selections > div:nth-child(odd), .days > ul > li:nth-child(odd) {
	background-color:	#eee;
}
*/

.selections > div > ul, .selections > ul > li, ul.times > li {
	height:	56px;
}

.days .month-separator, .selections .month-separator {
	position:			relative;
	height:				30px;
	background-color:	#999;
	color:				#fff;
}

.selections .time_scale_wrapper:first-child .month-separator {
	border-top:	1px solid #000;
}

.selections .month-separator {
	border-bottom:	1px solid #000;
}

.selections > div > ul {
	padding:		0px;
	margin:			0px;
	border-bottom:	1px solid #000;
	white-space:	nowrap;
}

.selections > div > ul > li {
	position:			relative;
	height:				100%;
	display:			inline-block;
	list-style-type:	none;
}

.selections > div > ul > li > * {
	position:		absolute;
	bottom:			0px;
	top:			0px;
	left:			0px;
	right:			0px;
	width:			100%;
	text-align:		center;
	font-size:		30px;
}

.selections > div > ul > li > button {
	background:	none;
	border:		0px;
}

.selections > div > ul > li > button i {
	margin:	2px;
}

.selections > div > ul > li:not(:first-child) > * {
	left:			0px;
	opacity: 		0.5;
}

.selections .single-selection > i {
	top:			50%;
	margin-top:		-15px;
}

.selections .single-selection > span {
	top:			50%;
	margin-top:		-17px;
}

.selections > div > ul > li > div {
	font-size:	20px;
	top:		50%;
	margin-top:	-12px;
}

.selections > div > ul > li.YES {
	background-color:	rgba(153,214,255,0.7);
}

.selections > div > ul > li.MAYBE {
	background-color:	rgba(221,241,255,0.7);
}

.selections > div > ul > li.NO {
	color:				rgba(37,37,37,0.3);
}

/*overview*/
	#ScrollField.overview .dragger {
		width:	100% !important;
	}

	.selection_container.overview .time_scale_wrapper {
		width: 100% !important;
	}

	.selection_container.overview .selections .single-selection > * {
		font-size:	8px;
		margin-top:	-4px;
	}

#ScrollField {
	z-index:	2000;
	position:	absolute;
	top:		0%;
	left:		0%;
	width:		100%;
	height:		100%;
	overflow:	scroll;
}

#ScrollField .dragger {
	font-size:	60px;
	width:		50px;
	height:		200%;
	top:		0%;
	left:		50%;
}

#ScrollField  .month-separator {
	background-color:	transparent;
	border-bottom:	1px solid transparent !important;
}

#ScrollField .time_scale_wrapper:first-child .month-separator {
	border-top:	1px solid transparent !important;
}

#ScrollField .time_container, #ScrollField .users {
	position:	fixed;
}

#ScrollField .selection_container {
	z-index:	98;
}

#ScrollField .selections {
	position:	static;
	margin-top:	115px;
	overflow:	hidden;
}

#ScrollField .selections > div > ul {
	border-bottom:	1px solid transparent;
}

#ScrollField .selections > div > ul > li {
	cursor:	pointer;
}

.development #ScrollField .selections > div > ul > li {
	border:	1px solid red;
}

.development #ScrollField .selections > div > ul > li:active {
	border:	1px solid green;
}

#HintForMoreUsers {
	z-index:		200;
	position:		absolute;
	text-align:		center;
	left:			0px;
	right:			0px;
	height:			70px;
	//right:			50%;
	//margin-right:	-100px;
	top:			50px;
	font-size:		14px;
	color:			#999;
}

#HintForMoreUsers i {
	position:	absolute;
	bottom:		3px;
}

#HintForMoreUsers i:first-child {
	left:		3px;
}

#HintForMoreUsers i:last-child {
	right:		3px;
}

#HintForMoreUsers:before {
	content: "" !important;
}

#VotePanel {
	z-index:		1000;
	position:		absolute;
	top:			0px;
	width:			100%;
	height:			100%;
	right:			-100000px;
	background:		red;
}