header {
	z-index:			1000001;
	position:			absolute;
	top:				0px;
	left:				0px;
	height:				50px;
	width:				100%;
	background-color:	#0094FF;
	box-shadow:			0px 0px 5px #000;
}

header > div {
	position:		absolute;
	top:			0px;
	right:			0px;
	height:			50px;
}

header > div a {
	position:		relative;
	display:		inline-block;
	width:			50px;
	height:			50px;
}

header > div a:active {
	background-color:	rgba(255,255,255,0.4);
}

header > div a i {
	position:		absolute;
	top:			50%;
	left:			50%;
	margin-top:		-10px;
	margin-left:	-10px;
	font-size:		25px;
	color:			rgba(255,255,255,0.7);
}

header > div a i.fa-ellipsis-v {
	margin-left:	-2px;
}

#Title {
	display:		block;
	position:		absolute;
	left:			0px;
	top:			0px;
	bottom:			0px;
	right:			100px;
	color:			#fff;
}

#Title:active, #Title:hover {
	background:	#7FC9FF;
}

#Title > div {
	position:		absolute;
	left:			7px;
	top:			5px;
	bottom:			5px;
	right:			5px;
}

#Title > div > * {
	position:	absolute;
	display:	inline-block;
	font-size:	20px;
}

#Title > div > div {
	top:		50%;
	margin-top:	-11px;
}

#Title > div > div:first-child {
	left:			0px;
}

#Title > div > img, #Title > div > i {
	height:			40px;
	top:			0px;
	left:			20px;
	border-radius:	50px;
}

#Title > div > i {
	top:			50%;
	margin-top:		-13px;
	margin-left:	7px;
	font-size:		30px;
}

#Title > div > div:last-child {
	left:	66px;
}

#Logo {
	z-index:		1000;
	position:		absolute;
	top:			50px;
	left:			0px;
	width:			100px;
	height:			80px;
	border-radius:	0px 0px 5px 0px;
	background:		#7FC9FF;
}

#Logo i {
	position:		absolute;
	left:			50%;
	margin-left:	-14px;
	font-size:		30px;
	top:			13px;
}

#HeaderBar {
	z-index:		1000;
	position:		absolute;
	top:			50px;
	right:			0px;
	left:			100px;
	background:		#7FC9FF;
	height:			5px;
}

#HeaderBar > div {
	position:			absolute;
	bottom:				0px;
	left:				0px;
	height:				5px;
	width:				100%;
	border-radius:		5px 0px 0px 0px;
	background-color:	#eee;
}

#HeaderBackgrund {
	z-index:			199;
	position:			absolute;
	top:				50px;
	left:				0px;
	right:				0px;
	height:				80px;
	background:			#eee;
	box-shadow:			0px 0px 5px #000;
}

.logo_subtitle {
	position:		absolute;
	text-align:		center;
	font-size:		16px;
	bottom:			7px;
	left:			0px;
	right:			0px;
}

.header_content {
	z-index:	1000;
}