header {
	z-index:			1000001;
	position:			absolute;
	top:				0px;
	left:				0px;
	height:				40px;
	width:				100%;
	background-color:	#0094FF;
	font-size:			125%;
	box-shadow:			0px 0px 5px #000;
}

header > title {
	display:		block;
	position:		absolute;
	top:			50%;
	margin-top:		-9px;
	left:			10px;
	color:			#fff;
	font-weight:	bold;
}

header > div {
	position:		absolute;
	top:			0px;
	right:			0px;
	height:			40px;
}

header > div a {
	position:		relative;
	display:		inline-block;
	width:			40px;
	height:			40px;
}

header > div a:active {
	background-color:	rgba(255,255,255,0.4);
}

header > div a i {
	position:		absolute;
	top:			50%;
	left:			50%;
	font-size:		24px !important;
	margin-top:		-12px;
	margin-left:	-10px;
	color:			rgba(255,255,255,0.7);
}

header > div a i.fa-ellipsis-v {
	margin-left:	-3px;
}

header > div a i.fa-info {
	margin-left:	-3px;
}

#BackButton {
	display:		block;
	position:		absolute;
	left:			0px;
	top:			0px;
	bottom:			0px;
	right:			80px;
	color:			#fff;
}

#BackButton:active, #BackButton:hover {
	background:	#7FC9FF;
}

#BackButton > div {
	position:		absolute;
	left:			7px;
	top:			0px;
	bottom:			0px;
	right:			5px;
}

#BackButton > div > * {
	position:	absolute;
	display:	inline-block;
}

#BackButton > div > div {
	top:		50%;
	margin-top:	-7px;
}

#BackButton > div > div:first-child {
	left:			0px;
}

#BackButton > div > img, #BackButton > div > i {
	height:			24px;
	top:			50%;
	margin-top:		-12px;
	left:			16px;
	border-radius:	50px;
}

#BackButton > div > i {
	top:			50%;
	margin-top:		-13px;
	margin-left:	7px;
	font-size:		24px;
}

#BackButton > div > div:last-child {
	left:	48px;
}

#Logo {
	z-index:		1000;
	position:		absolute;
	top:			40px;
	left:			0px;
	width:			78px;
	height:			64px;
	border-radius:	0px 0px 5px 0px;
	background:		#7FC9FF;
}

#Logo i {
	position:		absolute;
	left:			50%;
	margin-left:	-11px;
	font-size:		24px;
	top:			13px;
}

#HeaderBar {
	z-index:		1000;
	position:		absolute;
	top:			40px;
	right:			0px;
	left:			78px;
	background:		#7FC9FF;
	height:			5px;
}

#HeaderBar > div {
	position:			absolute;
	bottom:				0px;
	left:				0px;
	height:				5px;
	width:				100%;
	border-radius:		5px 0px 0px 0px;
	background-color:	#eee;
}

#HeaderBackgrund {
	z-index:			199;
	position:			absolute;
	top:				40px;
	left:				0px;
	right:				0px;
	height:				64px;
	background:			#eee;
	box-shadow:			0px 0px 5px #000;
}

.logo_subtitle {
	position:		absolute;
	text-align:		center;
	font-size:		12px;
	bottom:			5px;
	left:			0px;
	right:			0px;
}

.header_content {
	z-index:	1000;
}