* {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
	padding:			0px;
	margin:				0px;
	font-size:			12px;
	font-family:		Helvetica Neue, Helvetica, Arial;
	color:				#2B2B2B;
	background-color:	#ECF0F1;
	overflow:			hidden;
}

button {
	outline:	0px;
}

a {
	text-decoration:	none !important;
}

.screen {
	z-index:	99;
	position:	absolute;
	width:		100%;
	height:		100%;
	left:		0px;
	top:		0%;
	transition:	opacity ease-out 0.2s; /*, top ease-out 0.2s*/
	opacity: 	0;
}

.screen.show {
	z-index:	100;
	top:		0px;
	opacity: 	1;
}

/* HEADER */
	header {
		z-index:			1000001;
		position:			absolute;
		top:				0px;
		left:				0px;
		height:				50px;
		width:				100%;
		background-color:	#075E55;
		font-size:			150%;
		box-shadow:			0px 0px 5px #252525;
	}

	header > title {
		display:		block;
		position:		absolute;
		top:			50%;
		margin-top:		-10px;
		left:			12px;
		color:			#ECF0F1;
		font-weight:	bold;
	}
	
	/* Icons */
		.icons {
			position:		absolute;
			top:			0px;
			right:			0px;
			height:			100%;
		}
		
		.icons a {
			position:		relative;
			display:		inline-block;
			width:			50px;
			height:			50px;
			color:			rgba(255,255,255,0.6);
		}

		.icons a:active {
			background-color:	rgba(255,255,255,0.1);
		}
		
		.icons a i {
			position:		absolute;
			top:			50%;
			left:			50%;
			font-size:		24px !important;
			margin-top:		-12px;
			margin-left:	-10px;
		}

		.icons a i.fa-ellipsis-v {
			margin-left:	-3px;
		}

		.icons a i.fa-info {
			margin-left:	-3px;
		}
		
		/*BIG*/
			.icons a.big {
				width:			auto;
				height:			auto;
				padding:		17px;
				font-size:		75%;
				text-transform:	uppercase;
			}
			
			.icons a.big i {
				position:		relative;
				top:			0px;
				left:			0px;
				font-size:		100% !important;
				margin:			0px;
			}
			

	/* BackButton */
		#BackButton {
			display:		inline-block;
			width:			50px;
			height:			100%;
			color:			#ECF0F1;
		}

		#BackButton:active, #BackButton:hover {
			background:	rgba(255,255,255,0.1);
		}
		
		#BackButton.hasImage {
			width:	80px;
		}

		#BackButton > div {
			position:		absolute;
			left:			10px;
			top:			0px;
			bottom:			0px;
			right:			5px;
		}
		
		/*Each Element inside the button has position absolute*/
		#BackButton > div > * {
			position:	absolute;
			display:	inline-block;
		}
		
		#BackButton .back_symbol {
			top:			50%;
			left:			0px;
			margin-top:		-9px;
			margin-left:	7px;
		}
		
		#BackButton img {
			height:			32px;
			top:			50%;
			left:			30px;
			margin-top:		-16px;
			border-radius:	50px;
		}

		#BackButton .title {
			top:			15px;
			left:			40px;
			right:			0px;
			white-space:	nowrap;
			text-overflow:	ellipsis;
			overflow:		hidden;
		}
		
		#BackButton aside {
			left:			70px;
			bottom:			7px;
			font-weight:	normal;
			font-size:		75%;
			color:			rgba(255,255,255,0.6);
			white-space:	nowrap;
		}
		
	/* Title */
		#Title {
			position:		absolute;
			top:			0px;
			bottom:			0px;
			padding:		0px 10px 0px 10px;
			display:		inline-block;
			color:			#ECF0F1;
		}

		a#Title:active, a#Title:hover {
			background:	rgba(255,255,255,0.1);
		}
		
		#Title.hasSubtitle .title {
			margin-top:	8px;
		}
		
		/*Each Element inside the button has position absolute*/
		#Title > div > * {
			display:	inline-block;
		}
		
		#Title .title {
			margin-top:		16px;
			left:			0px;
			right:			0px;
			white-space:	nowrap;
			text-overflow:	ellipsis;
			overflow:		hidden;
		}
		
		#Title aside {
			font-weight:	normal;
			font-size:		75%;
			color:			rgba(255,255,255,0.6);
			white-space:	nowrap;
		}

	/* Logo */
		#Logo {
			z-index:		1000;
			position:		absolute;
			left:			0px;
			top:			50px;
			width:			98px;
			height:			64px;
			background:		#7F8C8D;
		}

		#Logo i {
			position:		absolute;
			left:			50%;
			margin-left:	-11px;
			font-size:		24px;
			top:			13px;
		}

		.logo_subtitle {
			position:		absolute;
			font-size:		125%;
			text-transform:	uppercase;
			bottom:			6px;
			left:			15px;
			right:			0px;
		}

	/*
	#HeaderBar {
		z-index:		1000;
		position:		absolute;
		top:			50px;
		right:			0px;
		left:			78px;
		background:		#7FC9FF;
		height:			5px;
	}

	#HeaderBar > div {
		position:			absolute;
		bottom:				0px;
		left:				0px;
		height:				5px;
		width:				100%;
		border-radius:		5px 0px 0px 0px;
		background-color:	#eee;
	}
	*/	

	.header_content {
		z-index:	1000;
	}
	
/* CONTENT */
	content {
		position:	absolute;
		top:		50px;
		left:		0px;
		right:		0px;
		bottom:		0px;
	}
	
/* ANGULAR */
	.view-animate-container {
		position:	absolute;
		top:		0px;
		bottom:		0px;
		left:		0px;
		right:		0px;
	}

	.view-animate {
		padding:	10px;
	}

	.view-animate.ng-enter, .view-animate.ng-leave {
		X-webkit-transition:	all ease-out 0.2s;
		Xtransition:			all ease-out 0.2s;
		
		display:		block;
		width:			100%;
		border-left:	1px solid black;
		
		position:	absolute;
		top:		0;
		left:		0;
		right:		0;
		bottom:		0;
		padding:	10px;
	}

	.view-animate.ng-enter {
		left:	100%;
	}
	.view-animate.ng-enter.ng-enter-active {
		left:	0;
	}
	.view-animate.ng-leave.ng-leave-active {
		left:	-100%;
	}