body {
	color: #262626;
	font-size: 13px;
	line-height: 23px;
	background-color: #EBE5E5;
	font-family: 'Encode Sans Expanded', sans-serif;
}

.clickable {
	cursor: pointer;
}

.fixed-width-md {
	width: 800px;
	margin: 10px auto;
}

@media (max-width: 800px) {
	.fixed-width-md {
		width: 100%;
		overflow: hidden;
	}
}

.separator {
	height: 20px;
}

.modal {
	color: #2B2B2B;
}

@media (max-width: 768px) {
	.main {
		padding: 0px 10px;
	}
}

.text-info {
	color: #FFCD02;
}

/*.page-header*/
	.page-header {
		background: #fff;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.page-header .page-header-inner {
		position: relative;
		height: 155px;
		width: 100%;
		width: 800px;
		margin: 0px auto;
	}

	.page-header .page-header__image {
		position: absolute;
		top: 10px;
		left: 10px;
		width:  125px;
		height: 125px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.page-header .page-header__title {
		position: absolute;
		top: 18px;
		left: 155px;
		right: 0px;
		font-size: 400%;
		color: #2C3E50;
	}

	.page-header .page-header__description {
		position: absolute;
		top: 70px;
		left: 168px;
		right: 0px;
		font-size: 153%;
		color: #34495E;
	}

	.page-header .page-header__contacts {
		position: absolute;
		bottom: 9px;
		left: 168px;
	}
	
	
@media (max-width: 768px) {
	.page-header {
		position: relative;
		height: 125px;
	}
		
		.page-header .page-header-inner {
			width: auto;
		}
	
		.page-header .page-header__image {
			width:  50px;
			height: 50px;
		}
		
		.page-header .page-header__title {
			left: 70px;
			top: 10px;
			font-size: 200%;
		}

		.page-header .page-header__description {
			top: 40px;
			left: 70px;
			right: 0px;
			font-size: 100%;
		}

		.page-header .page-header__contacts {
			position: absolute;
			top: 70px;
			left: 10px;
		}
}

/*.dashed-border*/
.dashed-border {
	border: 1px dashed #262626;
	padding: 15px 20px;
	display: inline-block;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.dashed-border {
		padding: 0px 10px;
	}
}

/*.basic-info-item*/
.basic-info-item {
	display: block;
	font-size: 150%;
	line-height: 35px;
	background: #34495E;
	color: #EBE5E5;
	padding: 15px 20px;
	margin-bottom: 10px;
}

	.basic-info-item .basic-info-item__icon {
		font-size: 200%;
	}
	
	.basic-info-item .basic-info-item__label {
		position: relative;
		top: -4px;
		left: 5px;
	}
	
	.basic-info-item .basic-info-item__image {
		height: 43px;
	}

/*.contact-item */
.contact-item {
	font-size: 100%;
	display: inline-block;
	padding: 0px;
	width: 45px;
	text-align: center;
	color: #34495E;
	border-color: #34495E;
	margin-right: 10px;
}

/*.skill-item*/
.skill-item {
	margin-right: 5px;
	font-size: 100%;
	padding: 10px;
}

	.skill-item.skill-item-small {
		padding: 0px 5px;
	}

	.skill-item.skill-item-link {
		background: transparent;
		color: #2B2B2B;
		opacity: 0.5;
		cursor: pointer;
	}
	
		.skill-item.skill-item-link:hover{
			opacity: 1;
		}

/*.project-item*/
.project-item {
	margin-bottom: 10px;
	width: 100%;
}

	.project-item .project-item__title {
		font-size: 150%;
	}

	.project-item .project-item__description {
		margin-top: 10px;
	}
	
		.project-item .project-item__description .project-item__description__short-text {
			height: 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 380px;
			display: inline-block;
		}

	.project-item .project-item__more-icon {
		position: absolute;
		top: 15px;
		right: 30px;
		font-size: 200%;
	}