.profile-header {
	position: relative;
	height: 70px;
	padding: 0px 20px 0px;
}

.profile-header__back-btn {
	position: absolute;
	top: 50%;
	margin-top: -16px;
}

.profile__icon-list img {
	height: 50px;
}