.profile-self__profile-img {
  display: block;
  width: 200px;
  margin: 0px auto;
}

.profile-self h2, .profile-self h3 {
  text-align: center;
}

.profile-self__content-wrapper {
  width: 530px;
  margin: 0px auto;
}