.profile-self__profile-img {
  display: block;
  width: 200px;
  margin: 0px auto;
}

.profile-self__content-wrapper {
  width: 530px;
  margin: 0px auto;
}

.profile-self__informations dt {
  text-align: left;
  font-weight: normal;
}


@media (max-width: 768px) {
  .profile-self__content-wrapper {
    width: auto;
    margin: 0px 15px 0px;
  }
}