body {
  color: #3A3637;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.form-control, .form-control:focus, .form-control:active {
  border-radius: 0px !important;
  outline: 0px !important;
}

textarea {
  border: 1px solid #9D9B9C;
  border-color: #9D9B9C !important;
}

h1, h2, h3, h4 {
  color: #7AA6BD;
}

h2 {
  font-size: 250%;
  margin-bottom: 0px;
}

h3 {
  font-size: 250%;
  text-transform: uppercase;
  font-weight: lighter;
}

h4 {
  font-size: 150%;
  font-weight: normal;
}

h5 {
  font-size: 125%;
  font-weight: normal;
}

.text-center-absolute {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
}

.btn {
  border-radius: 0px !important;
  background: transparent;
  border: 1px solid #9D9B9C;

}

.btn-primary {
  background: #66C9B7 !important;
}

.btn-default {
  position: relative;
  border: 0px;
  color: #fff;
  background: #7AA6BD !important;
}

.btn-default:hover {
  color: #fff;
  background: #96CCE8 !important;
}

.btn__back {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0;
  height: 0;
  border-right: 16px solid #000;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.btn-default .btn__back {
  border-right-color: #7AA6BD;
}

.btn-default:hover .btn__back {
  border-right-color: #96CCE8;
}

.btn__next {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0;
  height: 0;
  border-left: 16px solid #000;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
}

.btn-default .btn__next {
  border-left-color: #7AA6BD;
}

.btn-default:hover .btn__next {
  border-left-color: #96CCE8;
}

.btn-circle {
  border-radius: 50% !important;
  border-width: 3px;
  border-color: #7AA6BD;
  width: 70px;
  height:70px;
}

.btn-circle:hover {
  border-color: #96CCE8;
  background-color: #96CCE8 !important;
}

.btn-circle.btn-circle-active {
  background-color: #7AA6BD;
  color: #fff;
}

.btn-facebook {
  background: #48629B;
  color: #fff !important;
}

.btn-facebook:before {
  content: "\f09a";
  font-family: FontAwesome;
}

.navbar-default {
  background: transparent;
  border: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #7AA6BD;
  background: transparent;
}

/* .header */
  .header {
    padding: 20px 0px 0px 0px;
    text-transform: uppercase;
  }

  .header .navar-brand img {
    height: 35px;
    margin-top: 5px;
  }

  .header .navbar-toggle {
    margin-top: 0px;
  }

  .header_profile-img {
    height: 45px;
    margin: 0px 16px;
  }

.content {
  margin-top: 35px;
}

/* .block-image-background */
  .block-image-background {
    position: relative;
    overflow: hidden;
    max-height: 600px;
  }

  .block-image-background__image {
    width: 120%;
    position: relative;
    margin-left: -10%;

  }

  .block-image-background__content {
    background: rgba(255,255,255,0.9);
    position: absolute;
    padding: 40px;
    top: 80px;
  }
  
  .block-image-background__title {
    color: #7AA6BD;
    text-align: center;
    font-size: 33px;
    font-weight: 100;
    white-space: nowrap;
  }
  
  .block-image-background__form {
    width: 100%;
    text-align: center;
  }
  
  .block-image-background__input-wrapper {
    width: 300px;
    margin: 30px auto 0px;
    text-align: left;
  }

  .block-image-background__input {
    background: #CFDEE6;
  }

  .block-image-background__input, .block-image-background__btn {
    margin-top: 15px;
    padding: 15px;
    height: auto;
    border: 0px;
    box-shadow: none;
  }

  .block-image-background__btn-label-left {
    position: relative;
    display: inline-block;
    top: -36px;
  }

  .block-image-background__btn-label-left__text {
    position: relative;
    left: -100%;
    margin-right: 20px;
    color: #7AA6BD;
  }

  @media (max-width: 992px) {
    .block-image-background__title {
      font-size: 25px;
    }

    .block-image-background__image {
      width: 150%;
      margin-left: -25%;
    }
  }

  @media (max-width: 768px) {
    .block-image-background__content {
      padding-left: 0px;
      padding-right: 0px;
    }

    .block-image-background__image {
      width: 250%;
      margin-left: -75%;
    }

    .block-image-background__title {
      font-size: 19px;
    }

    .block-image-background__btn-label-left {
      top: -80px;
      left: 50%;
      margin-left: -16px;
    }

    .block-image-background__btn-label-left__text {
      left: 0px;
    }
  }