<ion-view view-title="Create new event">
  <ion-content>
    <div data-ng-switch="step" class="event_new">
      <content data-ng-switch-when="1">
        <div class="img">
          <div>
            Optionally give your event an image
          </div>
        </div>
        
        <div class="input">
          <div class="label"></div>
          
          <label>
            <div>
              <input type="text" data-ng-model="newEvent.title" placeholder="Type event subject here..." />
            </div>
            
            <div>
              <i class="fa fa-smile-o"></i>
            </div>
          </label>
        </div>

        <button ng-click="save()">Temp save</button>
      </content>
      
      <content data-ng-switch-when="2">
        <div class="input">
          <div class="label">
            Add friends to your event
          </div>
          
          <label>
            <div>
              <input type="text" data-ng-model="name" placeholder="Type contact name..." />
            </div>
            
            <div>
              <i class="fa fa-plus"></i>
            </div>
          </label>
        </div>
        
        <ul id="Members">
          <li data-ng-repeat="member in members track by $index">
            <div class="profile_img">
              <i class="fa fa-user"></i>
            </div>
            <div class="name">
              {{ member.name }}
            </div>
            <div class="remove" data-ng-click="removeMember($index)">
              <i class="fa fa-close"></i>
            </div>
            
            <div class="separator"></div>
          </li>
        </ul>
      </content>
      
      <content data-ng-switch-when="3">
        How long will your event take?
        <button>15min</button>
        <button>30min</button>
        <button>45min</button>
        <button>60min</button>
        <button>90min</button>
        <button>2h</button>
        
        What times do you want to suggest?
        
        
        <ul id="Dates">
          <li data-ng-repeat="date in dates">
            <div class="date">
              <button></button>
            </div>
            <div class="time">
              <button></button>
            </div>
            <div class="remove" data-ng-click="removeMember($index)">
              <i class="fa fa-close"></i>
            </div>
          <li>
        </ul>
      </content>
      
      <content data-ng-switch-when="4">
        Yayy, your event got created :)
        
        
      </content>
    </div>
  </ion-content>
</ion-view>
