<ion-view view-title="TIMEUP">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="list card event-item event-item-todo">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            3 people left to vote
          </div>
        </div>

        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            2 days left to vote
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item event-item-in-progress">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            3 people left to vote
          </div>
        </div>

        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            1 day left to vote
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            All people voted 
          </div>
        </div>
        
        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            22 days left
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
        </div>
        
        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            22 days left
          </div>
        </div>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>

<a href="#/new" class="button button-assertive button-add-new-event">
  <i class="ion-plus"></i>
</a>