<ion-view view-title="TIMEUP">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            You voted
            <i class="ion-ios-checkmark-empty"></i>
          </div>
        </div>

        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-calendar"></i>
            in 2 days
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">

          </div>
        </div>

        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            in 5 days
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            3 going
          </div>
        </div>

        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-calendar"></i>
            in 1 week
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            5 going
          </div>
        </div>
        
        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-calendar"></i>
            in 3 weeks
          </div>
        </div>
      </ion-item>

      <ion-item class="list card event-item event-item-done">
        <div class="event-item__image">
          <img src="img/temp_billard.png" />
          <div class="event-item__image__tag">
            4 going
          </div>
        </div>
        
        <div class="item item-body">
          <div class="event-item__message"></div>
          <h3>Billard</h3>
          <div class="event-item__location">
            <i class="ion-location"></i>
            Cafe Kö, Mundsburg
          </div>
          <div class="event-item__time">
            <i class="ion-calendar"></i>
            22 days left
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<a class="button button-assertive button-add-new-event">
  <i class="ion-plus"></i>
</a>