<ion-view view-title="TIMEUP">
  <ion-content class="padding">

    <div class="list card event-item event-item-done">
      <img class="event-item__image" src="http://ionicframework.com/img/docs/delorean.jpg" />
      
      <div class="item item-body">
        <h3>Billard</h3>
        <dd>
          <i class="ion-location"></i>
          Cafe Kö, Mundsburg
        </dd>
        <time>
          <i class="ion-calendar"></i>
          22 days left
        </time>
      </div>
    </div>

    <div class="list card event-item event-item-done">
      <img class="event-item__image" src="http://ionicframework.com/img/docs/delorean.jpg" />
      
      <div class="item item-body">
        <h3>Billard</h3>
        <dd>
          <i class="ion-location"></i>
          Cafe Kö, Mundsburg
        </dd>
        <time>
          <i class="ion-calendar"></i>
          22 days left
        </time>
      </div>
    </div>

    <div class="list card event-item event-item-done">
      <img class="event-item__image" src="http://ionicframework.com/img/docs/delorean.jpg" />
      
      <div class="item item-body">
        <h3>Billard</h3>
        <dd>
          <i class="ion-location"></i>
          Cafe Kö, Mundsburg
        </dd>
        <time>
          <i class="ion-calendar"></i>
          22 days left
        </time>
      </div>
    </div>

  </ion-content>
</ion-view>


<button class="button button-assertive button-add-new-event">
  <i class="ion-plus"></i>
</button>