<ion-view view-title="TIMEUP">
  <ion-content class="padding">
    <ion-list>

      <ion-item
        class="list card event-item"
        ng-repeat="event in events"
        ng-class="eventItemStateToCss(event.state)"
        >
        <div class="event-item__image">
          <img ng-src="{{ event.image }}" />
          <div class="event-item__image__tag">
            3 people left to vote
          </div>
        </div>

        <div class="item item-body">
          <title>{{ event.title }}</title>
          <div class="event-item__location">
            <i class="ion-location"></i>
            {{ event.location }}
          </div>
          <div class="event-item__time">
            <i class="ion-person-stalker"></i>
            2 days left to vote
          </div>
          <div class="event-item__message"></div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>