body {
	font-family:	"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 		100%;
	width:			400px;
	background:		#fff;
	color:			#2B2B2B;
	margin:			0px;
}

.main-header h1 {
	padding:	10px;
	margin:		0px;
}

.main-header {
	text-align: center;
	background:	#004879;
	color:		#ECF0F1;
}

.command-input {
	width:			374px;
	border:			1px solid #000;
	border-radius:	3px;
}

.main-content {
	padding: 10px;
}

#CommandList {
	list-style-type:	none;
	padding:			0px;
	margin-top:			0px;
}

.insta-console_item {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	padding: 15px;
	margin-top: 10px
}
.insta-console_item.isActive {
	border-color: #2ECC71;
}
.insta-console_item.isActive .insta-console_item_remove {
	display: none !important;
}

.insta-console_item.insta-console_item-wait:before {
	content: "\f017";
	font-family: FontAwesome;
	margin-right: 5px;
}

.insta-console_item.insta-console_item-follow:before {
	content: "\f061";
	font-family: FontAwesome;
	margin-right: 5px;
}

.insta-console_item.insta-console_item-unfollow:before {
	content: "\f00d";
	font-family: FontAwesome;
	margin-right: 5px;
}

.insta-console_item.insta-console_item-like:before {
	content: "\f004";
	font-family: FontAwesome;
	margin-right: 5px;
}

.insta-console_item_remove {
	display: inline-block;
	float: right;
	cursor: pointer;
}
.insta-console_item_remove:before {
	content: 'remove';
}